{% extends 'base.html'%}
{% load static %}

{% block page_title %}
Home
{% endblock page_title %}

{% block content %}

<form method="post" action="{% url 'form_plan_post' %}">
    {% csrf_token %}
<div class="row">
    <div class="col-6"><p class="lead">Pense simples. Simplifique, não complique.</p></div>
    <div class="col-6"><button type="submit" class="btn btn-light">Salvar e atualizar agenda</button></div>
</div>
<div class="container-fluid py-3">
    <div class="row py-2">
        <div class="col-sm-4 mb-2 mb-sm-0">
            <div class="card bg-light text-dark">
                <div class="card-body" data-weekday="2">
                    <h5 class="card-title">Segunda-feira</h5>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-info text-dark bg-opacity-25">
                <div class="card-body" data-weekday="3">
                    <h5 class="card-title">Terça-feira</h5>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-info text-dark bg-opacity-10">
                <div class="card-body" data-weekday="4">
                    <h5 class="card-title">Quarta-feira</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-sm-4">
            <div class="card bg-success text-dark bg-opacity-25">
                <div class="card-body" data-weekday="5">
                    <h5 class="card-title">Quinta-feira</h5>
                    
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-success text-dark bg-opacity-10">
                <div class="card-body" data-weekday="6">
                    <h5 class="card-title">Sexta-feira</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card bg-success bg-danger-subtle text-danger-emphasis">
                <div class="card-body" data-weekday="7">
                    <h5 class="card-title">Sábado</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-sm-4">
            <div class="card bg-warning-subtle text-warning-emphasis">
                <div class="card-body" data-weekday="1">
                    <h5 class="card-title">Domingo</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card bg-secondary-subtle text-secondary-emphasis">
                <div class="card-body" data-weekday="9">
                    <h5 class="card-title">Na semana...</h5>
                    {% for nota in anotacao %}
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{nota.titulo}}</h6>
                    <p class="card-text">
                        {% if nota.concluido %}
                        <i class="fa-regular fa-square-check"></i> {{nota.texto}}
                        {% else %}
                        <input class="form-check-input" type="checkbox" value="{{nota.id}}" name="anotacao" id="nota_{{nota.pk}}">
                        <label class="form-check-label" for="anotacao_{{anotacao.pk}}">
                            {{nota.texto}}
                        </label>
                        {% endif %}
                    </p>
                    {% endfor %}
                </div>
            </div>        
        </div>
    </div>
</div>
</form>
{% endblock content %}

{% block javascript %}
<script>
   function loadTaskList(div){
    let endpoint = '{% url "task_list" 9 %}'
    let weekday = $(div).data('weekday')
    if (weekday == '9') return; // é anotação
    endpoint = endpoint.replace('9', weekday)
    $.ajax({
        url: endpoint,
        method: "GET",
        dataType: "html"
    }).done(function(data){
        $(div).append(data)
    }).fail(function(error){
        alert('Algo deu errado...')
        console.log(error)
    });
   }
   
   $(document).ready(function() {
        $('div.card-body').each(function(){
            loadTaskList(this)
        })
    })
</script>
{% endblock javascript %}