{% if cronograma %}
<h6 class="card-subtitle mb-2 text-body-secondary">{{cronograma.titulo}}</h6>
<p class="card-text">{{cronograma.texto}}</p>
    {% if atividades %}
        {% for a in atividades %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" name="realizado" data-id="{{a.pk}}" id="{{a.pk}}" {% if a.realizado %} checked disabled {% endif %}>
        <label class="form-check-label" for="ativ_{{a.pk}}">            
            {{a.horario}} {{a.periodo}} - {{a.descricao}} {{a.local__nome}} {{a.user__username}}
        </label>
    </div>
        {% endfor %}

    {% endif %}
{% else %}
<p>Nada agendado hoje</p>
{% endif %}
